

@mixin tc-btn($default,$focus,$active,$disabled) {
  background: $default;

  &:focus,
  &.focus,
  &:hover,
  &.hover {
    background: $focus;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background: $active;
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    &:focus,
    &.focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
      background: $disabled;
    }
  }
}

@mixin tc-transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin tc-borderRadius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}