/*
##  1. Imports && Paths
##  2. Branding
##  3. Buttons
##  4. Forms
##  5. Alerts
*/

//## 1. Imports && Paths
//
//##

//## 2. Fonts
//
//##

$font-family-sans-serif:  'Lato', sans-serif;

//## 2. Branding
//
//##

$gray-base:              #000;
$gray-darker:            $tcColorGreyExtraDark;
$gray-dark:              $tcColorGreyDarker;
$gray:                   $tcColorGrey;
$gray-light:             $tcColorGreyLight;
$gray-lighter:           $tcColorGreyLighter;

$brand-primary: $tcColorBlue;
$brand-success: $tcColorGreen;
$brand-warning: $tcColorYellow;
$brand-danger: $tcColorRed;
$brand-info: $tcColorBlueLighter;

//## 3. Buttons
//
//##

$btn-default-color:              $tcColorGreyDarker;
$btn-default-bg:                 $tcColorGreyLight;
$btn-default-border:             transparent;
$btn-primary-border:             transparent;
$btn-success-border:             transparent;
$btn-info-border:                transparent;
$btn-warning-border:             transparent;
$btn-danger-border:              transparent;

$btn-border-radius:              10em;
$btn-border-radius-lg:           10em;
$btn-border-radius-sm:           10em;


//## 4. Forms
//
//##

$input-border-radius:            10em;
$input-border-radius-lg:         10em;
$input-border-radius-sm:         10em;

//## 5. Alerts
//
//##

$alert-border-radius:           0;

$alert-success-text:            $brand-success;
$alert-info-text:               $brand-primary;
$alert-warning-text:            $brand-warning;
$alert-danger-text:             $brand-danger;