//
// Project colors
// @see https://projects.invisionapp.com/boards/SR2DULWX3NUQ/#/111261
//

// White
$tcColorWhite: white;
$tcColorWhiteDisabled: rgba(255, 255, 255, 0.5);

// Gray
$tcColorGreyExtraDark: #273439; // Night Gray
$tcColorGreyExtraDarkDisabled: rgba(39, 52, 57, 0.5); // Night Gray 50%
$tcColorGreyExtraDark80p: rgba(39, 52, 57, 0.8); // Night Gray 80%
$tcColorGreyDarker: #303f44;
$tcColorGreyDarkerDisabled: rgba(48, 63, 68, 0.5);
$tcColorGreyDark: #3D4F55;
$tcColorGreyDarkDisabled: rgba(61, 79, 85, 0.5);
$tcColorGrey: #9AAFB8; // Fog Gray
$tcColorGreyLight: #c6d4db; // Pacific Gray
$tcColorGreyLighter: #EEF4F6; // Quiet Gray

// Blue
$tcColorBlue: #0093d2; // TPN Blue
$tcColorBlueLight: #00A5EC;
$tcColorBlueLighter: #80D8FF;
$tcColorBlueExtraLight: #F2FBFF;
$tcColorBlueDark: #0085C0;
$tcColorBlueDisabled: transparentize($tcColorBlueDark,.5);

// Green
$tcColorGreenLight: #00DAE6;
$tcColorGreen: #00C0C7;  // Sea Green
$tcColorGreenDark: #00AFB5;
$tcColorGreenDisabled: transparentize($tcColorGreenDark,.5);

// Others
$tcColorYellow: #F3AC26; // Summer Yellow
$tcColorRed: #DC4C4C; // Soul Red

// Aliases
$tcColorPrimary: $tcColorBlue;
