/*
##  1. Imports && Paths
*/

//## 1. Imports && Paths
//
//##

.td-nav-pills {
  > li {
    text-align: center;
    > a {
      background: none !important;
      border-bottom: solid 2px transparent;
      color: rgba(255,255,255,.4);
      border-radius: 0;
      outline: none;
      padding: 6px 12px;
    }
    &:hover > a,
    &.active > a,
    &.open > a,
    > a:focus{
      color: rgba(255,255,255,1);
    }
    &.active > a {
      border-bottom: solid 2px $tcColorPrimary;
    }
  }
}

.btn {
  box-shadow: none !important;
  border-radius: 10em;
  outline: none!important;

  &.btn-success {
    @include tc-btn($tcColorGreen,$tcColorGreenLight,$tcColorGreenDark,$tcColorGreenDisabled);
  }
  &.btn-primary {
    @include tc-btn($tcColorBlue,$tcColorBlueLight,$tcColorBlueDark,$tcColorBlueDisabled);
  }
}

.alert {
  background: rgba(255,255,255,.95);
  border: solid 1px $gray-light;
}