// @import "mixins/*";

@mixin tdClearLinkStyle($color: $tcColorGreyExtraDark) {

  &:link, &:focus, &:hover, &:active, &:visited {
    // Remove link styles
    color: $color;
    text-decoration: none;
  }

}
